<!DOCTYPE html>
<html lang="en">
    <!-- <style>
    table, th, td {
        border:1px solid black;
      }
    </style> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROSPINOT</title>
</head>
<body style="background-color:powderblue;">
    <center><h1 >ROSPINOT</h1></center>
   
    <p>
        <ol>
           <li>Rospinot stands for Robotics Operating Systems using Python Intelligence with Node Open Technology.</li> 
           <li>It helps student in exploring advance technology like <strong>ai, ml and iot</strong>.</li>
           <li>It brings great <em>culture </em>in the college.</li>

        </ol>
        <center><img src ="rospinot.jpg" alt ="rospinot" height = "400" width="400"></center>
        <center><a href ="ros.jpg">ROSPINOT</a></center>
    </p>
        <form name="signup_form" action = "">
            <label
                for="Name">Name :
            </label><br>
            <input type="text" placeholder = "e.g. Malay Thakur" id="name" name="name" required>
            <br><br>
            <label
                for = "Enrollment No"> Enrollment No : 
            </label><br>
            <input type="text" placeholder ="e.g. 201b149" id="enrollment" name="enrollment" required>
            <br>
            <input type = "button" onclick="success()" value = "submit">
            
        </form>
    </p>
    <h3 align="center">
        Rospinot students :
    </h3>
    <table border="2"align ="center">
    <tr style = "color:red;">
        <th>Student Name : </th>
        <th>Enrollment No : </th>
        <th>Field of Interest : </th>
    </tr>
    <tr>
        <td>Malay Thakur</td>
        <td>201B149</td>
        <td>AI, ML, AWS</td>
    </tr>
    <tr>
        <td>Pranjal Pandey</td>
        <td>201B187</td>
        <td>AI,ML</td>
    </tr>
    <tr>
        <td>Shrey Pandey</td>
        <td>201B258</td>
        <td>AI, ML</td>
    </tr>
    
    </table>
    
        
        

</body>
</html>